/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Temas visuales
5. Otros
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Overpass', sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 88px;
    min-width: 320px;
    padding: 5px;
    background-color: #000000;
}
.logo-container {
    display: flex;
    min-width: 268px;
    max-width: 279px;
    margin-top: 10px;
}
.logo-container .company--name {
    font-size: 1.7rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    margin: 0 8px;
}
.logo-container .help--title{
    font-size: 2.4rem;
    line-height: 2.3rem;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
}
.icons-container {
    display: flex;
    margin-top: 10px;
    margin-left: 8px;
}
.icons-container .search--icon{
    background-color: #fff;
}
.icons-container .menu--icon{
    background-color: #fff;
    margin-left: 15px;
}
.buttons-container {
    display: none;
}
main {
    width: 100%;
    min-width: 320px;
}
.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #dadbf1;
}
.title-container div {
    width: 90%;
    max-width: 720px;
}
.title-container h1 {
    text-align: center;
    color: #000000;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
    letter-spacing: -0.4rem;
    margin-bottom: 50px;
}
.title-container form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 290px;
    max-width: 720px;
    height: 66px;
    padding: 1rem 1rem;
    background-color: #fff;
    box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #dee2e6;
    border-color: #000000;
    border-radius: 4px;
}
.title-container form input {
    width: 95%;
    border: none;
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 400;
}
.title-container form label img {
    width: 36px;
    height: 36px;
}